venv
.venv-translate
.translation-cache-pt.json
.translation-cache-pt-v2.json
.translation-errors-pt.log
.idea
*.pyc
__pycache__
.coverage
.pytest_cache
htmlcov

### VisualStudioCode ###
.vscode/*
.vscode/**
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
